.application {
    paddingLeft: 0;
    paddingRight: 0;
    paddingTop: 0;
    paddingBottom: 0;
    backgroundColor: white;
}

.playground {
    backgroundImage: Embed(source = "/background.png");
}

.scoreLabel {
    fontSize: 30;
    fontFamily: arial;
    bottom: 0;
    right: 0;
}

.timeLabel {
    fontSize: 30;
    fontFamily: arial;
    bottom: 0;
    left: 0;
}

.gameOverPanel {
    backgroundColor: white;
    backgroundAlpha: 0.7;
    borderStyle: none;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    verticalAlign: middle;
    horizontalAlign: center;
}

.gameOverLabel {
    fontWeight: bold;
    fontFamily: Arial;
    fontSize: 30;
}
